/CPIOngConfig/CPIOngConfig/CPIOngConfig/obj
/CPIOngConfig/CPIOngConfig/.vs
/CPIOngConfig/CPIOngConfig/CPIOngConfig/bin
/CPIOngConfig/CPIOngConfig/ConfigLogicLayer/bin
/CPIOngConfig/CPIOngConfig/ConfigLogicLayer/obj
/CPIOngConfig/CPIOngConfig/Hal.PeakCan/bin
/CPIOngConfig/CPIOngConfig/Hal.PeakCan/obj
/CPIOngConfig/CPIOngConfig/Hal.PeakCan/*.user
/CPIOngConfig/CPIOngConfig/ConfigLogicLayer.Contracts/bin
/CPIOngConfig/CPIOngConfig/ConfigLogicLayer.Contracts/obj
/CPIOngConfig/CPIOngConfig/CPIOngConfig.Contracts/obj
/CPIOngConfig/CPIOngConfig/CPIOngConfig.Contracts/bin
/CPIOngConfig/CPIOngConfig/Helper/bin
/CPIOngConfig/CPIOngConfig/Helper/obj
